* {
    margin: 0;
    padding: 0;

}

body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {

    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    border-radius: 10px;
    gap: 1.5rem;
    background-color: rgb(27, 27, 27);


}

#display {
    height: 5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    background-color: rgb(107, 107, 107);
    
   padding:0.5rem; 

    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(193, 193, 193);
    overflow: hidden;
}
#previous-operation {
    font-size: 1.2rem;
    color:rgba(198, 198, 198, 0.664) ;
    min-height: 1.5rem;


}
#current-operation {
    font-size: 2.5rem;
    color:rgba(198, 198, 198) ;
    word-break: break-all;


}
#keys {
    display: grid;
    height: 17rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.6rem;
    column-gap: 0.8rem;
    -webkit-user-select: none;
    user-select: none;



}

span {
    height: 100%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.397);
    border-radius: 0.3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.1s ease;


}

span:active {
    box-shadow: inset 0 0 12px rgb(0, 0, 0);

}

#Del:active {
    box-shadow: inset 0 0 12px rgb(255, 255, 255);
}

#Equals {
    grid-row: span 2;
    background-color: white;
    color: black;
}

#AC {
    background-color: orange;


}

#AC:active {
    box-shadow: inset 0 0 12px rgb(255, 255, 255);
}

#Del {
    background-color: red;
}

@media (max-width:420px) {
    
    #calculator{
         
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    #display{
        width: 90%;
        height: 15%;
    }
    #keys{
        width: 95%;
        gap: 1.2rem;
        height: 50%;

    }
    span{
        font-size: 2.2rem;
        padding: 0.2rem;
    }
}